<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DefaultRepositoriesDirectory" value="D:\Ingenious.Git.Repositories" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="BonoboGitServerContext" connectionString="Data Source=D:\Ingenious.Git.Database\Ingenious.Git.db" providerName="System.Data.SQLite" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />    
  </connectionStrings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />    
  </system.web>
</configuration>